<form action="{% url 'news-add' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title">
    <br>
    <br>
    <textarea type="text" name="text" ></textarea>
    <br>
    <br>
    <button type="submit">Sohranit'</button>
</form>